[Unit]
Description=Run the interface script 

[Service]
Type=oneshot
KillMode=none
Environment="DISPLAY=:0"
Environment="PATH=/usr/bin:/home/steelcowboy/.config/i3/panel"
ExecStart=/home/steelcowboy/bin/interface.sh
